h1 {
  color: blue;
  text-align: center;
}
.types {
  color: blue;
  font-style: italic;

}
div {
  background-color: yellow;
  width: 300px;
  font-style: italic;
}
.places {
  color: red;
  font-style: oblique;

}
.cities {
  color: white;
  background-color: blue;
  width: 300px;
}
